flows/Flow01_CreatePersonAccountAndCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Account_Owner</name>
        <label>Assign Account Owner</label>
        <locationX>447</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>sObj_PersonAccount.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_PersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_PersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatePersonAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>839</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>sObj_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sObj_PersonAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Origin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObj_Case.Date_of_Complaint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Of_Complaint</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Contact_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DefaultCaseOrigin</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>DefaultCaseType</name>
        <choiceText>Query</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseType</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoSubCategory</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <description>Updated the end screen so we now show the case number instead of the subject line</description>
    <dynamicChoiceSets>
        <name>CaseCampaign</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Campaign__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseSubVategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Flow01_CreatePersonAccountAndCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New PA and Case_Flow01</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1012</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Number</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorCatchingScreen</targetReference>
        </faultConnector>
        <inputReference>sObj_Case</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatePersonAccount</name>
        <label>Create Person Account</label>
        <locationX>571</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorCatchingScreen</targetReference>
        </faultConnector>
        <inputReference>sObj_PersonAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Contact_Id</name>
        <label>Get Account Contact Id</label>
        <locationX>934</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObj_PersonAccount.Id</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>sObj_Case.ContactId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Number</name>
        <label>Get Case Number</label>
        <locationX>1154</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObj_Case.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sObj_Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Record_Type_Id</name>
        <label>Get Person Account Record Type Id</label>
        <locationX>158</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Person_Account</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>sObj_PersonAccount.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>708</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>CaseType</choiceReferences>
            <choiceReferences>DefaultCaseType</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultCaseType</defaultSelectedChoiceReference>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Campaign</name>
            <choiceReferences>CaseCampaign</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Outbound</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_Of_Complaint</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Of Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Complaint</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Origin</name>
            <choiceReferences>DefaultCaseOrigin</choiceReferences>
            <choiceReferences>CaseOrigin</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>DefaultCaseOrigin</defaultSelectedChoiceReference>
            <fieldText>Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CategoryDependent</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Sub_category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Sub-Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sObj_Case.Category__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>sObj_Case.Sub_category__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Person_Account</name>
        <label>Create Person Account</label>
        <locationX>295</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Account_Owner</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PhoneNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sObj_PersonAccount.PersonMobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sObj_PersonAccount.PersonEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorCatchingScreen</name>
        <label>ErrorCatchingScreen</label>
        <locationX>713</locationX>
        <locationY>427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCatchingText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(128, 119, 119); font-size: 16px;&quot;&gt;Something went wrong!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(128, 119, 119); font-size: 12px;&quot;&gt;Something went wrong when we tried creating the Person Account. Most likely the Phone number or Email that you put in already exists in your org. Please use the already existing Person Account to log the case.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>1291</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(137, 128, 128); font-size: 14px;&quot;&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(137, 128, 128); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Your prospect {!First_Name} {!Last_Name} and case {!sObj_Case.CaseNumber} have been created.&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(137, 128, 128); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;To link the Call&lt;/b&gt;&lt;span style=&quot;color: rgb(137, 128, 128); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&amp;nbsp;to the created case,&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(137, 128, 128); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;search and open the case: &lt;/b&gt;&lt;span style=&quot;color: rgb(137, 128, 128); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!sObj_Case.CaseNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Person_Account_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sObj_Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sObj_PersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
